{% extends "admin/layout.njk" %}

{% block head %}
    <head>
        <title>Foodfy - Criando Receita</title>
    </head>
{% endblock %}

{% block content %}

    <form class="card" method="POST" action="/admin/recipes">
        <section class="details">
            <div class="form-header">
                <h3>Criando receita</h3>
                <button type="submit">Salvar receita</button>
            </div>

            {% include "admin/fields.njk" %}
        </section>
    </form>

{% endblock %}