<div class="item">
    <div>Imagem da receita</div>
    <div>
        <input type="url" name="recipe_url">
    </div>
</div>

<div class="item">
    <div>Nome da receita</div>
    <div>
        <input type="text" name="name">
    </div>
</div>

<div class="item">
    <div>Nome do chef</div>
    <div>
        <input type="text" name="chef_name">
    </div>
</div>

<div class="item">
    <div>Ingredientes</div>
    <div>
        <input type="text" name="ingredients">
    </div>
    <a class="add-ingredient" href="#">Adicionar novo ingrediente</a>
</div>

<div class="item">
    <div>Modo de preparo</div>
    <div>
        <input type="text" name="preparation">
    </div>
    <a class="add-step" href="#">Adicionar novo passo</a>
</div>

<div class="item">
    <div>Informações adicionais</div>
    <div>
        <textarea class="aditional-info" name="information"></textarea>
    </div>
</div>

