<!DOCTYPE html>
<html>

  {% block head %}
    <head>
      <title>Foodfy</title>
    </head>
  {% endblock %}

  <body>
    <header>
      <div class="links">
        <a class="logo" href="/">
          <img src="/assets/logo.png" alt="logo">
        </a>
        <div class="menu">
          <a id="about" href="/about">Sobre</a>
          <a id="recipes" href="/recipes">Receitas</a>
        </div>
      </div>
    </header>

    {% block content %}{% endblock %}

    <footer>
      <p>Todos os direitos reservados, receitas Foodfy.</p>
    </footer>

  </body>

</html>