{% extends "layout.njk" %}

{% block head %}
  <head>
    <title>Foodfy - Detalhes da Receita</title>

    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/recipe.css">
  </head>
{% endblock %}

{% block content %}

  <div id="wrapper">

    <div class="recipe__image-container">
      <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
    </div>
    <div class="recipe__content">
      <p class="recipe__name">{{ recipe.title }}</p>
      <p class="recipe__chef-name">por {{ recipe.author }}</p>
    </div>

    <div class="recipe__detail">
      <div class="toggle">
        <h1>Ingredientes</h1>
        <p class="toggle__button">ESCONDER</p>
      </div>

      <div class="toggle__content">
        <ul>
          {% for ingredient in recipe.ingredients %}
            <li>{{ ingredient }};</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="recipe__detail">
      <div class="toggle">
        <h1>Modo de preparo</h1>
        <p class="toggle__button">ESCONDER</p>
      </div>

      <div class="toggle__content">
        <ul>
          {% for item in recipe.preparation %}
            <li>{{ item }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    {% if recipe.information != '' %}
      <div class="recipe__detail">
        <div class="toggle">
          <h1>Informações adicionais</h1>
          <p class="toggle__button">ESCONDER</p>
        </div>

        <div class="toggle__content">
          <p>{{ recipe.information }}</p>
        </div>
      </div>
    {% endif %}

  </div>

  <script src="/scripts/scripts.js"></script>

{% endblock %}