{% extends "layout.njk" %}

{% block head %}
  <head>
    <title>Foodfy - Receitas</title>

    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/recipes.css">
  </head>
{% endblock %}

{% block content %}

  <div id="wrapper">

    <section class="recipes">

      {% for recipe in recipes %}
        <div class="recipe">
          <div class="recipe__image-container">
            <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
          </div>
          <div class="recipe__content">
            <p class="recipe__name">{{ recipe.title }}</p>
            <p class="recipe__chef-name">por {{ recipe.author }}</p>
          </div>
        </div>
      {% endfor %}

    </section>

  </div>

  <script src="/scripts/scripts.js"></script>

{% endblock %}