#about {
    font-weight: bold;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
}

#wrapper h2 {
    color: var(--color-text);
    line-height: 28px;
    margin-bottom: 20px;
}

#wrapper h3 {
    color: var(--color-text);
    line-height: 24px;
    margin-bottom: 20px;
}

#wrapper p {
    color: #444444;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
    text-align: justify;
}