#recipes {
    font-weight: bold;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
}

/* === RECIPES === */
.recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.recipe__image-container img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

.recipe__content {
    margin-bottom: 30px;
}

.recipe__name {
    color: var(--color-text);
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 5px;
}

.recipe__chef-name {
    color: var(--third-color);
    font-size: 14px;
    line-height: 16px;
}